/* h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: 'Satoshi', sans-serif;
    line-height: 50px;
}

h4 {

    font-size: 25px;
    font-weight: 400;
    font-family: 'Satoshi', sans-serif;
    margin-top: 20px;

}
*/
.btn{
    margin-top: 30px;
    --bs-btn-padding-x: 4.7rem;
}
/*
.btn1
{
    --bs-btn-padding-x: 4rem;
} */

.form-control{
    height: 40px;
}
/* .navbar{
    margin-bottom: 50px;
} */
table{
    position: relative;
    top: 120px;
}
thead{
    background-color: black;
    color: white;
    border: 2px solid black;
}
.inptDate{
    margin-right: 12px;
    padding: 5px;
    border-radius: 10px;
}